$text-color-primary: #fff;
$primary-color: #1C1B21;
$secondary-color: #7a66cc;
$secondary-color-circle-first: #7a66cc31;
$secondary-color-circle-second: #7a66cc60;
$gray-color: #2F2B2B;
$opacity-cart: 70%;
$border-cart: 20px 0 20px 0;
$font-Poppins: "Poppins";

// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
